@import "./breakpoint.scss";



.header2{
    font-size: 16px;  
    padding-bottom:20px;  
    padding-top: 20px;
    background-color: rgba(242, 243, 244, 0.98);

    @include breakpoint('medium') {
    font-size: 16px;
    padding-bottom:32px;
    padding-top: 32px;
    background-color: rgba(242, 243, 244, 0.98);

    }

    @include breakpoint('large') {
    font-size: 20px;
    padding-bottom:40px;
    padding-top: 40px;

    }
}

body {
    margin-left: 16px;    
    margin-right: 16px;   
    height: 568px;


    @include breakpoint('medium') {
        margin-left: 28px;   
        margin-right: 28px;   
        height: 900px;

    }

    @include breakpoint('large') {
        margin-left: 40px;   
        margin-right: 40px;   
 
    }
}


.footer {

    font-size: 12px;
    width: 160px;
    line-height: 20px;
 

    @include breakpoint('medium') {
        font-size: 12px;
     
        width: 180px;
        line-height: 20px;
       
    }
    @include breakpoint('large') {
        font-size: 8px;
     
        width: 240px;
        line-height: 26px;
        margin-bottom: 20px;

    }



}

.indextext {

    font-size: 20px;
    line-height: 32px;
    width: 250px;
    height: 568px;
   

    @include breakpoint('medium') {

        font-size: 40px;
        width: 490px;
       
       
        line-height: 60px;
    }

    @include breakpoint('large') {

        font-size: 52px;
        width: 640px;
     
        line-height: 72px;

    }
}

.index-container {

  
}

.one {
   
    @include breakpoint('large') {
    grid-column: 1/1;
    grid-row: 1/1;
    padding-bottom:8px;
 
    grid-auto-rows: minmax(10px, 10px);

    

    }
}

.two {
    @include breakpoint('large') {
  
    grid-column: 2/2;
    grid-row: 1/1;
    padding-bottom:8px;
   
   

    }
}

.three {
    @include breakpoint('large') {
   
    grid-column: 3/3;
    grid-row: 1/1;
    padding-bottom:8px;
 

    }
}

.four {
    @include breakpoint('large') {
  
    grid-column: 1/1;
    grid-row: 3/3;
    padding-bottom:8px;
    }
}

.five {
    @include breakpoint('large') {
  
    grid-column: 2/2;
    grid-row: 3/3;
    padding-bottom:8px;
    }
}

.six {
    @include breakpoint('large') {
  
    grid-column: 3/3;
    grid-row: 3/3;
    padding-bottom:8px;
    }
}

.seven {
    @include breakpoint('large') {
  
    grid-column: 1/1;
    grid-row: 5/5;
    padding-bottom:8px;
    }
}

.eight {
    @include breakpoint('large') {
  
    grid-column: 2/2;
    grid-row: 5/5;
    padding-bottom:8px;
    }
}

.nine {
    @include breakpoint('large') {
  
    grid-column: 3/3;
    grid-row: 5/5;
    padding-bottom:8px;
    }
}

.ten {
    @include breakpoint('large') {
  
    grid-column: 1/1;
    grid-row: 7/7;
    padding-bottom:8px;
    }
}

.gridcontainer {

    @include breakpoint('large') {
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-row: 10 10 10;
    column-gap: 16px;
  
    }
}



.undertext{
    @include breakpoint('large') {
   
        font-size: 20px;
        padding-bottom:40px;
      
        }
    }
    .undertext-b{
        @include breakpoint('large') {
            grid-column: 1/2;
            font-size: 20px;
            padding-bottom:40px;
          
            }
        }

p{
    @include breakpoint('large') {
        margin-top: 0px;
    margin-bottom: 0px;

    font-size:16px;
    }
}


.grid-container2 {

    @include breakpoint('large') {
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-row: 10 10 10 10;
    column-gap: 16px;
    }
}

.project1-a {

    @include breakpoint('large') {
  
        grid-column: 1/7;
        padding-bottom: 40px;
        }

}

.project1-b {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 5/9;
        padding-bottom: 40px;
        }

}

.project1-c {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 9/13;
        padding-bottom: 40px;
        }

}

.project1-d {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 5/13;
        padding-bottom: 40px;
        }

}
.project1-e {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 5/13;
        padding-bottom: 40px;
        }

}
.project1-f {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 5/13;
        padding-bottom: 40px;
        }

}
.project1-g {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 5/13;
        padding-bottom: 40px;
        }

}

.project1-vdo {
    padding-bottom: 40px;
    width:100%;
    @include breakpoint('large') {
  
        width:100%;
        grid-column: 5/13;
        padding-bottom: 40px;
        }

}

.chair2-b {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 1/7;
        padding-bottom: 40px;
        }

}
.chair2-c {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 7/13;
        padding-bottom: 40px;
        }

}
.chair2-d {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 1/13;
        padding-bottom: 40px;
        }

}
.boodwood1 {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 1/5;
        padding-bottom: 40px;
        }

}
.boodwood2 {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 5/9;
        padding-bottom: 40px;
        }

}
.boodwood3 {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 9/13;
        padding-bottom: 40px;
        }

}
.boodwood4 {
    padding-bottom: 40px;
    @include breakpoint('large') {
  
        grid-column: 1/13;
        padding-bottom: 40px;
        }

}

.text1 {

        font-size: 12px;
        line-height: 20px;
    
    @include breakpoint('medium') {

        font-size: 16px;
    
       
        line-height: 26px;
        grid-column: 1/6;
    }

    @include breakpoint('large') {
        
        grid-column: 8/12;
        font-size: 20px;
        line-height: 32px;;
       
        }
}

.text2 {

    font-size: 12px;
    line-height: 20px;

@include breakpoint('medium') {

    font-size: 16px;

   
    line-height: 26px;
    grid-column: 1/6;
}

@include breakpoint('large') {
    
    grid-column: 1/3;
    font-size: 20px;
    line-height: 32px;
    padding-top: 50%;
   
    }
}


.project1H {

    font-size:20px;
    line-height: 32px;
    @include breakpoint('medium') {

        font-size: 40px;
        padding-top: 20px;
    }


    @include breakpoint('large') {
        
        font-size: 48px;
        padding-bottom: 20px;
        line-height: 60px;
        padding-top: 50%;

        }
}

.project2H {

    font-size:20px;
    line-height: 52px;
    @include breakpoint('medium') {

        font-size: 40px;
        padding-top: 20px;
    }


    @include breakpoint('large') {
        
        font-size: 48px;
        padding-bottom: 20px;
        padding-top: 25%;

        }
}


.soundvdo {

    padding-bottom: 40px;
    grid-column: 1/4;
    @include breakpoint('medium') {

      
    }


    @include breakpoint('large') {
        grid-column: 2/12;
      
        }
}

.soundvdo2 {

    padding-bottom: 40px;
    grid-column: 1/4;
    @include breakpoint('medium') { 
        
      
    }


    @include breakpoint('large') {
        grid-column: 2/12;
      
        }
}

.soundvdo3 {

    padding-bottom: 40px;
    grid-column: 1/4;
    @include breakpoint('medium') {

      
    }


    @include breakpoint('large') {
        grid-column: 1/2;
      
        }
}

.vdogrid {
height:315px;
    @include breakpoint('medium') {

      height:500px;
    }
    @include breakpoint('large') {
        height:860px;
      
        }

}

.undertextvdo {
         margin-top:-20px;
        font-size: 28px;
        margin-bottom: 4px;
    @include breakpoint('medium') {
        font-size: 32px;
        margin-top:-20px;
        margin-bottom: -4px;
     
      }
      @include breakpoint('large') {
     
        font-size: 40px;
        grid-column: 2/12;
        
          }

}
.undertextvdo2 {
    font-size:16px;
    margin-bottom: 32px;
   


    @include breakpoint('medium') {
        font-size: 20px;
        margin-bottom: 36px;
       

      }
      @include breakpoint('large') {
        margin-top:24px;
        margin-bottom: 40px;
        font-size: 20px;
        grid-column: 2/12;
        
          }

}